/.idea
/.vscode
/.env
/workspace/.env
/workspace/vendor
/workspace/node_modules
/workspace/prod.log
/workspace/public/vendor/**/*
!/workspace/public/vendor/.gitkeep
/workspace/resources/cached/**/*
!/workspace/resources/cached/.gitkeep
